<div id="search-results" data-search-target="results">
  <div class="row">
    <% @sandwiches.each do |sandwich| %>
      <%= render partial: "sandwiches/sandwich_card", locals: { sandwich: sandwich } %>
    <% end %>
  </div>
</div>
