<body class="sandwiches index">
  <div data-controller="search favorite-toggle" data-favorite-toggle-favorites="<%= current_user.favorited_by_type('Sandwich').map(&:id).to_json %>" class="container">
    <!-- Search Bar -->
    <div class="row my-4">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="input-group" data-search-target="form">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>

          <input type="text" class="form-control" placeholder="Search for sandwiches" data-action="keyup->search#fire" data-search-target="input" />

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-turbo="false">
              <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Show Favorites", sandwiches_path(filter: "favorites"), data: { turbo_frame: "sandwiches_list" }, class: "btn btn-danger all-favorite-button dropdown-item" %>
              <%= link_to "Show All", sandwiches_path, data: { turbo_frame: "sandwiches_list" }, class: "btn btn-secondary show-all-button dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="search-results" data-search-target="results">
      <turbo-frame id="sandwiches_list">
        <div id="sandwiches-container">
          <%= render partial: "sandwiches/sandwich_cards", locals: { sandwiches: @sandwiches } %>
        </div>
      </turbo-frame>
    </div>
  </div>
  <%# toggle_favorite_sandwich_path %>
</body>
