<div class="card p-3 mb-3 text-center sandwich-card">
  <img src="" alt="Sandwich Image" class="img-fluid sandwich-image">
  <h1 class="sandwich-title"><%= @sandwich.name %></h1>
  <p class="text-muted">Rating: <span class="fw-bold"></span></p>
  <p class="description"><%= @sandwich.description %></p>
</div>

<div class="card p-3 mb-3 sandwich-card">
  <div class="d-flex justify-content-between text-center category-container">
    <div class="category">
      <h2>Flavor</h2>
    </div>
    <div class="category">
      <h2>Tasting Notes Texture</h2>
    </div>
    <div class="category">
      <h2>Cuisine</h2>
    </div>
  </div>
</div>

<div class="card p-3 mb-3 sandwich-card">
  <h2>Ingredients:</h2>
  <ul class="list-group">
    <% @sandwich.ingredients.each do |ingredient| %>
      <li class="list-group-item"><%= ingredient.name %></li>
    <% end %>
  </ul>
</div>
