.landing-container {
  position: relative;
  height: 100vh;
  background: url('landing-page-image3.png') no-repeat;
  background-size: cover;

  background-position: top;
}

.image-container {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-image {
  height: auto;
  width: 80vw;
  cursor: pointer;
}
