.sandwich-new-page h1 {
  color: rgb(255, 191, 0);
  text-align: center;
}

.background {
  background: transparent;
  color: rgb(255, 191, 0);
  border-radius: 8px;
  padding: 20px;
  max-height: 80vh;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
}

@media (max-width: 768px) {
  .sandwich-form-container {
    padding: 15px;
    max-height: 70vh;
  }

  h1 {
    font-size: 24px;
  }

  .alert {
    font-size: 14px;
  }

  .form-check-input {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .sandwich-form-container {
    padding: 10px;
    max-height: 60vh;
  }

  h1 {
    font-size: 20px;
  }

  .btn {
    font-size: 14px;
  }

  .alert {
    font-size: 12px;
  }

  .form-check-input {
    margin-right: 5px;
  }
}

.quantity-input {
  width: 17px; /* Small input box */
  height: 17px;
  text-align: center;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ingredient-container {
  border: 2px solid #86613d;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.ingredient-container img {
  border-radius: 5px;
}

.ingredient-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-container li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 2px dotted #86613d;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ingredient-container li:last-child {
  margin-bottom: 0;
}

.ingredient-name {
  border-bottom: 2px solid #86613d; /* Amber underline */
  padding-bottom: 2px; /* Adjust this value to control the space */
}

.description-box {
  border: 2px solid #86613d;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.description-box:focus {
  border-color: #ffbf00;
  outline: none;
}

.empty-card-create {
  background: transparent;
  border: 0px;
}
