body {
  background-image: url('https://res.cloudinary.com/dadymzua9/image/upload/v1672532514/bg_amber_scan_qhsj1a.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
}

.input-group {
  background-color: black;
  color: #FFBF00;
}

.btn-outline-secondary {
  border-color: white;
}

.form-control {
  background-color: white;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: none;
  color: inherit;
}

.sandwiches.index .sandwich-card {
  display: flex;
  align-items: flex-start;
  // gap: 10px;
  padding: 10px;
  // background: #fff;
  background-image: url("https://res.cloudinary.com/dadymzua9/image/upload/v1699999999/bg_card_index_fpggpf");
  background-size: 100% 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.sandwiches.index .sandwich-image-box {
  width: 36vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 27px;
}

.sandwiches.index .sandwich-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.sandwiches.index .sandwich-content {
  flex: 1; /* Allow text and button to fill remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-self: center;
}

.sandwiches.index .sandwich-text {
  margin-bottom: 10px;
  color: black;
}

.sandwiches.index .favorite-button {
  align-self: end;
}

#sandwiches-container {
  transition: opacity 0.4s ease-in-out;
}

.sandwich-user {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: -2px;
}

.sandwich-card-title {
  font-size: 27px;
  font-weight: 900;
}

.sandwich-card-content {
  display: flex;
  flex-direction: row;
  margin-top: -28px;
}

.loading {
  opacity: 0.5;
}

.search-top {
  position: fixed;
  top: 0;
  width: 105%;
  z-index: 1001;
  background-image: asset_url("top_bar_generic.png");
  background-position: center;
  padding: 20px 10px;
  background-size: 102%;
}

#search-results {
  margin-top: 85px;
  padding-bottom: 37px;
  // padding-top: 50px;
}

.search-icons {
  color: #FFBF00;
}

.search-input {
  background-color: black;
  color: #FFBF00 !important;
  border: 0px;
}

.search-input::placeholder {
  color: #FFBF00 !important;
  opacity: 1;
}

.search-input:focus {
  background-color: black !important;
  color: #FFBF00 !important;
  outline: none;
}

.search-container {
  border-radius: 50px;
}

#search-results {
  width: 100%;
}

.toggle-container {
  width: 100%;
}

.sandwiches.index .dropdown-menu {
  background: black;
  color: #FFBF00;
}

.sandwiches.index .dropdown-menu a {
  background: black;
  color: #FFBF00;
}
