.sandwich-new-page h1 {
  color: rgb(255, 191, 0);
  text-align: center;
}

.background {
  background: transparent;
  color: rgb(255, 191, 0);
  border-radius: 8px;
  padding: 20px;
  max-height: 82vh;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.quantity-input {
  width: 17px;
  height: 17px;
  text-align: center;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ingredient-container {
  border: 2px solid #86613d;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.ingredient-container img {
  border-radius: 5px;
}

.ingredient-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-container li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 2px dotted #86613d;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ingredient-container li:last-child {
  margin-bottom: 0;
}

.ingredient-name {
  border-bottom: 2px solid #86613d;
  padding-bottom: 2px;
}

.description-box {
  border: 2px solid #86613d;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.description-box:focus {
  border-color: #ffbf00;
  outline: none;
}

.parent-container {
  display: flex;
  justify-content: flex-end; /* Pushes button to the right */
  width: 100px; /* Adjust width to control positioning */
}

.remove-ingredient-btn {
  background-color: rgb(255, 191, 0);
  color: black; /* Text color */
  border: 1px solid black;
  border-radius: 50%; /* Makes it circular */
  width: 32px; /* Set a fixed width */
  height: 32px; /* Set a fixed height */
  font-size: 18px; /* Make the minus sign visible */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto; /* This pushes the button to the right */
}

.add-ingredient-btn {
  background-color: rgb(255, 191, 0);
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto; /* This pushes the button to the right */
}

.growing-footer {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 60px;
  background: url('bg_paper.png');
  background-size: 100% 380px;
  text-align: center;
  color: white;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1000;
  padding: 10px 5px;
}

.growing-footer .hover-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.growing-footer .hidden-content {
  opacity: 0;
  max-height: 0;
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out, max-height 0.5s ease-in-out;
  padding: 15px 20px;
}

.growing-footer.active {
  height: 550px;
  overflow-y: auto;

  .hidden-content {
    opacity: 1;
    max-height: 100%;
  }
}

input[readonly] {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

input.no-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-placeholder::placeholder {
  color: #6c757d;
}

input::placeholder {
  font-family: 'Courier New', Courier, monospace;
}

input[type="text"] {
  font-family: 'Dancing Script', cursive;
}

input[type="date"] {
  font-family: 'Dancing Script', cursive;
}

textarea.form-control.custom-description {
  font-family: 'Dancing Script', cursive;
  color: #007bff;
  background-color: transparent;
  box-shadow: none;
  resize: none;
  padding-left: 0px;
  border: none;
}

textarea.form-control.custom-description:focus {
  outline: none !important;
  box-shadow: none !important;
}

textarea.form-control.custom-description[readonly] {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
