<div class="landing-container">
  <div class="image-container">
    <a href="/sandwiches">
      <img src="<%= asset_path('landing-button.png') %>" alt="Landing Button" class="landing-image">
    </a>
  </div>
</div>
