<div class="background d-flex justify-content-center align-items-center flex-column">
  <div class="profile-header">
    <h1>User Show Page</h1>
  </div>
  <div class="license-card">
    <div class="diet-name">
      <div class="dietary">
        <p>What do I eat?</p>
      </div>
      <p>My Email is <%= @user.email %></p>
    </div>
    <div class="allergy-list">
      <p>I have allergies!</p>
    </div>
  </div>
  <div class="trophy-case">
    <p>This is where I'd put my trophies</p>
  </div>
</div>
