<div class="background d-flex justify-content-center align-items-center flex-column">
  <div class="profile-header">
    <div class="inner-banner">
      <h1>User Show Page</h1>
    </div>
  </div>
  <div class="license-card">
    <div class="diet-name d-flex flex-row">
      <div class="dietary">
        <%= image_tag "dietary-stamp", alt: "No Restrictions Applied", class: "restriction-image" %>
      </div>
      <p>My Email is <%= @user.email %></p>
    </div>
    <div class="allergy-list">
      <p>I have allergies!</p>
    </div>
  </div>
  <div class="trophy-case">
    <p>This is where I'd put my trophies</p>
  </div>
</div>
