<nav class="navbar fixed-bottom custom-footer">
  <div class="container">
    <ul class="navbar-nav w-100 d-flex flex-row justify-content-between">
      <li class="nav-item w-20 text-center">
        <%= link_to sandwiches_path, class: "nav-link btn home-btn" do %>
          <i class="fas fa-home"></i>
        <% end %>
      </li>
      <li class="nav-item w-20 text-center">
        <a class="nav-link btn recipe-btn" href="#">
          <i class="fas fa-book"></i>
        </a>
      </li>

      <li class="nav-item w-20 text-center">
        <%= link_to new_sandwich_path, class: "nav-link btn create-sandwich-btn" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </li>

      <li class="nav-item w-20 text-center">
        <a class="nav-link btn help-btn" href="#">
          <i class="fas fa-question-circle"></i>
        </a>
      </li>
      <li class="nav-item w-20 text-center">
        <a class="nav-link btn profile-btn" href="#">
          <i class="fas fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
